<% if flash[:success].present? %>
  <div class="alert alert-success alert-dismissible fade show" role="alert"><%= flash[:success] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% instance.each do |company| %>
  <div class="row my-3">
    <div class="col-12 col-lg-5">
      <input type="checkbox" class="target-checkbox-select d-none" id="checkbox<%= company.id %>" value="<%= company.id %>" name="target[targets_ids][]">
      <label class="m-0 target-body" for="checkbox<%= company.id %>"><%= company.name %></label>
    </div>
  </div>
<% end %>