<div class="row tags-edit">
  <div class="col-12 tags">
    <h3 class="h3">
      <i class="far fa-eye"></i>
      表示タグ
    </h3>
    <div class="tags-container">
    <% @will_tag.each do |t| %>
      <button type="button" class="btn btn-primary modal-btn"><%= t.tag %></button>
    <% end %>
    </div>
    <div class="col-12 text-right">
      <button type="button" class="btn btn-success">選択</button>
      <%= link_to "削除", tag_delete_user_path, method: :delete, class: 'btn btn-success' %>
    </div>
  </div>

  <div class="col-12 edit">
    <h3 class="h3">
      <i class="fas fa-pen-square"></i>
      編集
    </h3>
    <button type="button" class="btn btn-primary d-block modal-btn">Primary</button>
    <label for="textarea1">質問の編集:</label>
    <textarea id="textarea1" class="form-control"></textarea>
    <input class="form-control" type="text" placeholder="解答タグのの編集">
    <div class="col-12 text-right">
      <button type="button" class="btn btn-success">更新</button>
    </div>
  </div>

  <div class="col-12 new">
    <h3 class="h3">新規作成</h3>
    <%= form_with model: @tag, url: tag_new_user_path(@current_user.id), local: true do |f| %>
      <%= f.label :name, '質問の新規作成', for: 'tag-new-text-area' %>
      <%= f.text_area :question_body, class: 'form-control', id: 'tag-new-text-area' %>
      <%= f.text_field :tag, placeholder: '解答タグの新規作成', class: 'form-control' %>
      <%= f.hidden_field :wcm, value: 'will' %>
      <div class="col-12 text-right">
        <%= f.submit "作成", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>