<div class="row tags-edit">
  <div class="col-12 tags">
    <h3 class="h3">
      <i class="far fa-eye"></i>
      表示タグ
    </h3>
    <div class="tags-container" id="tagContainer">
      <%= render partial: "tags/tags_show", locals: { instance: @will_tags } %>
    </div>
    <div class="col-12 text-right">
      <%= link_to "選択削除", tag_delete_user_path, method: :delete, class: 'btn btn-success', id: 'select-delete' %>
    </div>
  </div>

  <div class="col-12 edit">
    <h3 class="h3">
      <i class="fas fa-pen-square"></i>
      編集
    </h3>
    <div class="edit-js-message-errors"></div>
    <div id="blank-tag-container">
      <button type="button" class="btn btn-secondary modal-btn" id="blank-tag">none</button>
    </div>
    <%= form_with model: @tag, url: tag_edit_user_path, class: "js-form" do |f| %>
      <%= f.hidden_field :id %>
      <%= f.label :name, "質問の編集:", for: "edit-textarea" %>
      <%= f.text_area :question_body, class: "form-control", id: "edit-textarea"%>
      <%= f.text_field :tag, placeholder: "解答タグの編集", class: "form-control", id: "edit-textfield" %>
      <div class="col-12 text-right">
        <%= f.submit "更新", class: 'btn btn-success', id: "edit-submit", disabled: true, onclick: "editEnter()" %>
      </div>
    <% end %>
  </div>

  <div class="col-12 new">
    <h3 class="h3">
      <i class="fas fa-plus-square"></i>
      新規作成
    </h3>
    <div class="create-js-message-errors"></div>
    <%= form_with model: @tag, url: tag_new_user_path(@current_user.id) do |f| %>
      <%= f.label :name, '質問の新規作成', for: 'create-textarea' %>
      <%= f.text_area :question_body, class: 'form-control', id: 'create-textarea' %>
      <%= f.text_field :tag, placeholder: '解答タグの新規作成', class: 'form-control', id: 'create-textfield' %>
      <%= f.hidden_field :wcm, value: 'will' %>
      <div class="col-12 text-right">
        <%= f.submit "作成", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>