<div class="row mx-1 user_work_space">
  <div class="col-12 flash">
    <%= render partial: 'layouts/flash' %>
  </div>
  <%= render partial: 'users/wcm_seat/modal/modal_show' %>
  <%= render partial: 'users/base_tags/modal/base_tags' %>
  <%= render partial: "users/target/modal/modal_target" %>
  <%# <%= render partial: "users/companys/modal/modal_corporations" %> %>

  <section class="wcm-seat">
    <div class="row wcm-work-space">
            <div class="col-12">
              <h2 class="h2">WCMシート</h2>
            </div>
        <div class="col-12 wcm-chart">
        <div class="row">
            <div class="col-12 col-md-4 will-chart chart">
              <p>Will</p>
              <div class="row mx-md-1 will-tags tags" id="will-seat">
                <%= render partial: "users/wcm_seat/wcm_seat_tags", locals: { instance: @will_tags, tags_wcm: "will" } %>
              </div>
            </div>

            <div class="col-12 col-md-4 can-chart chart">
              <p>Can</p>
              <div class="row mx-md-1 can-tags tags" id="can-seat">
                <%= render partial: "users/wcm_seat/wcm_seat_tags", locals: { instance: @can_tags, tags_wcm: "can" } %>
              </div>
            </div>

            <div class="col-12 col-md-4 must-chart chart">
              <p>Must</p>
              <div class="row mx-md-1 must-tags tags" id="must-seat">
                <%= render partial: "users/wcm_seat/wcm_seat_tags", locals: { instance: @must_tags, tags_wcm: "must" } %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 wcm-result">
          <h3 class="col-12 h3">ベースタグ</h3>
          <div class="row" id="base-tags">
            <%= render partial: "users/base_tags/base_tags_btn" %>
          </div>
          <div class="guideline">
            <h3 class="h3">WCMからの行動指標</h3>
            <div class="guideline-container" data-toggle="modal" data-target=".bd-example-modal-xl" id="guideline-container">
              <%= render "users/base_tags/modal/modal_guideline_text", text: @guideline.text %>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right w-100 mt-2 mb-5">
        <a><i class="fas fa-arrow-right pr-2"></i>他のユーザーのWCMを見る</a>
      </div>
    </div>
  <section>

  <section class="col-12 wcm-target">
    <div class="row mb-3" id="target-show">
      <%= render 'users/target/target' %>
    </div>
  </section>

  <section class="col-12 corporate-analysis">
    <div class="row">
      <%# <%= render 'users/companys/corporations_show' %> %>
    </div>
  </section>
</div>