<% instance.each do |company| %>
  <tr>
    <td class="p-0">
      <%= link_to company.name, company_transition_path(transition_value: company.id), class: "d-block p-2 text-dark company-index", data: { toggle: "modal", target: ".edit_modal_companies" }, remote: true %>
    </td>
    <td class="p-0">
      <%= link_to "URL", company.url, class: "d-block p-2", target: "blank", rel: "noopener noreferrer" %>
    </td>
    <td class="p-0"><%= link_to company.business_fit, company_transition_path(transition_value: company.id), class: "d-block p-2 text-dark company-index", data: { toggle: "modal", target: ".edit_modal_companies" }, remote: true %></td>
    <td class="p-0"><%= link_to company.culture_fit, company_transition_path(transition_value: company.id), class: "d-block p-2 text-dark company-index", data: { toggle: "modal", target: ".edit_modal_companies" }, remote: true %></td>
    <td class="p-0"><%= link_to company.vision_fit, company_transition_path(transition_value: company.id), class: "d-block p-2 text-dark company-index", data: { toggle: "modal", target: ".edit_modal_companies" }, remote: true %></td>
    <td class="p-0"><%= link_to company.future_fit, company_transition_path(transition_value: company.id), class: "d-block p-2 text-dark company-index", data: { toggle: "modal", target: ".edit_modal_companies" }, remote: true %></td>
    <td class="p-0"><%= link_to company.skill_fit, company_transition_path(transition_value: company.id), class: "d-block p-2 text-dark company-index", data: { toggle: "modal", target: ".edit_modal_companies" }, remote: true %></td>
    <td class="p-0"><%= link_to company.treatment_fit, company_transition_path(transition_value: company.id), class: "d-block p-2 text-dark company-index", data: { toggle: "modal", target: ".edit_modal_companies" }, remote: true %></td>
    <td class="p-0"><%= link_to company.aspiration, company_transition_path(transition_value: company.id), class: "d-block p-2 text-dark company-index", data: { toggle: "modal", target: ".edit_modal_companies" }, remote: true %></td>
  </tr>
<% end %>