<% instance.each do |company| %>
  <tr>
    <td>
      <%= link_to company.name, company_transition_path(transition_value: company.id), data: { toggle: "modal", target: ".edit_modal_companies" }, remote: true %>
    </td>
    <td>
      <%= link_to "URL", company.url, target: "blank", rel: "noopener noreferrer" %>
    </td>
    <td><%= company.business_fit %></td>
    <td><%= company.culture_fit %></td>
    <td><%= company.vision_fit %></td>
    <td><%= company.future_fit %></td>
    <td><%= company.skill_fit %></td>
    <td><%= company.treatment_fit %></td>
    <td><%= company.aspiration %></td>
  </tr>
<% end %>