<% instance.each do |t| %>
  <input type="checkbox" class="checkbox-select d-none" id="checkbox<%= t.id %>" value="<%= t.id %>" name="tag[tags_ids][]">
  <button type="button" value="<%= t.tag %>" class="btn btn-primary modal-btn show-btn will" id="<%= t.id %>" data-question="<%= t.question_body %>" data-flag="false" data-branch="select-tag-change" onclick="bindEvent();"><%= t.tag %></button>
<% end %>