<div class="row mt-5 pt-5 row">
  <div id="carouselExampleIndicators" class="carousel slide col-12" data-ride="carousel" data-interval="false">
    <div class="col-8 m-auto">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h4 class="mb-5">Will,Can,Mustに沿った質問に答えてカンタンに単語をアウトプットしましょう</h4>
            <p>・質問は<%= questions_count %>問です</p>
            <p>・なるべく単語でアウトプットしましょう(10文字以内)</p>
            <p>・答えかねる質問はスキップしましょう</p>
            <p>・答えた解答はそのままユーザーページのタグとして生成されます</p>
            <p>・タグはユーザーページから、自由に編集と作成できます</p>
            <h5>では、始めましょう！右側の > ボタンを押してスタート</h5>
          </div>
          <div id="assistancesTagContainer">
            <% if flash[:success].present? %>
              <div class="alert alert-success alert-dismissible fade show" role="alert"><%= flash[:success] %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>
          </div>
          <% questions.each.with_index(offset = 1) do |(k, v), i| %>
            <div class="carousel-item w-100">
            <%= form_with model: @tag, url: question_assistances_path do |f| %>
              <h3 class="mb-5"><%= v %></h3>
              <div class="create-js-message-errors"></div>
              <button type="button" value="" class="btn <%= any_of_wcm[i - 1] %>-color modal-btn show-btn will" ><%= any_of_wcm[i - 1] %></button>
                <%= f.label :name, "解答タグ: #{k}", for: "question_assistances" %>
                <%= f.text_field :tag, class: "form-control", id: "question_assistances#{i}" %>
                <%= f.hidden_field :question_body, value: k %>
                <%= f.hidden_field :wcm, value: any_of_wcm[i - 1] %>
                <div class="text-right mt-3">
                  <%= f.submit "作成", class: 'btn btn-outline-success', data: { disabled_with: '作成中' } %>
                </div>
            <% end %>
            </div>
          <% end %>
          <div class="carousel-item">
            戻る
          </div>
        </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active bg-dark"></li>
      <% questions_count.times do %>
        <% count = 0 %>
        <li data-target="#carouselExampleIndicators" data-slide-to="<%= count =+ 1 %>" class="bg-dark"></li>
      <% end %>
    </ol>
    <div class="col-12 mb-5">
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" onclick="prevDecision()">
        <i class="fas fa-chevron-left fa-2x text-dark"></i>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" onclick="nextDecision()">
        <i class="fas fa-chevron-right fa-2x text-dark"></i>
      </a>
    </div>
  </div>
</div>