<% if flash[:success].present? %>
  <div class="alert alert-success alert-dismissible fade show" role="alert"><%= flash[:success] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% instance.each do |target| %>
  <div class="row my-3">
    <div class="col-12 col-lg-6">
      <input type="checkbox" class="target-checkbox-select d-none" id="checkbox<%= target.id %>" value="<%= target.id %>" name="target[targets_ids][]">
      <label class="m-0 target-body" for="checkbox<%= target.id %>"><%= target.target_body %></label>
    </div>
    <p class="col-8 col-lg-4 m-0">
      <% if target.start > Time.now %>
        目標開始まで<%= target.time_left %>
      <% elsif target.time_left.to_i < 0 %>
        期限超過(編集してください)
      <% else %>
        残り<%= target.time_left %>
      <% end %>
    </p>
    <div class="col-4 col-lg-2 text-center">
      <button type="button" class="btn btn-success w-100" data-flag="false" onclick="targetEvent()" data-json="<%= target.to_json %>" id="target<%= target.id %>"><%= target.achieve_i18n %></button>
    </div>
  </div>
<% end %>