<% instance.each do |target| %>
</div>
  <div class="row w-100 mx-auto my-3 text-md-center target" data-toggle="modal" data-target=".modal_target" id="target-body">
    <div class="col-12 col-md-4">
      <h3><%= target.period_i18n %></h3>
    </div>
    <div class="col-12 col-md-4">
      <p><%= target.target_body %></p>
    </div>
    <div class="col-12 col-md-4 text-right text-md-center">
      <button type="button" class="btn btn-success w-60"><%= target.achieve_i18n %></button>
    </div>
    <div class="row m-auto pt-3 progress-meter">
      <div class="col-3 col-md-2 text-center">
        <p>進捗率:<br><%= target.over_rate(target.rate) %></p>
      </div>
      <div class="col-9 col-md--10">
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: <%= target.rate %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
